#welcome {
  position: relative;
  z-index: -1;
  .banner {
    .image-banner {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4)),
        url("../../assets/image/banner-image.jpg");
      background-size: contain;
      background-origin: border-box;
      height: 70vh;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;

      .topic {
        font-family: $secondary-font;
        color: white;
        padding-top: 11rem;

        h1 {
          line-height: 4rem;
          font-size: 3.2rem;
          font-weight: 700;
        }
        h2 {
          font-size: 1.5rem;
          color: #eee;
          margin-bottom: 3.3rem;
        }
      }

      .get-started {
        display: flex;
        position: relative;
        .circle {
          z-index: 1;
          i {
            padding: 1.2rem;
            border-radius: 100%;
            background-color: $secondary-color;
            color: white;
            box-shadow: 1px 0px 8px 0px grey;
          }
        }
        .long-circle {
          z-index: 0;

          a {
            padding: 0.5rem 1.7rem 0.5rem 1.7rem;
            background-color: #584b48;
            color: white;
            border-radius: 0 3.2rem 3.2rem 0;
            position: absolute;
            left: 2.7rem;
            top: 0.4rem;
            font-family: $secondary-font;
            font-weight: 400;
            transition: 0.2s;

            &:hover {
              background-color: $secondary-color;
              transition: 0.2s;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}
