* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
  font-family: $primary-color;
            opacity: .9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}
