$primary-font: "Open Sans", sans-serif;
$secondary-font: 'Raleway', sans-serif;
$other-font: 'Poppins', sans-serif; 

$primary-color:#313030;
$secondary-color: #ff5821;
$text-color: #716f6f;
$title-color:#635551;
